html {
  overflow-y: scroll;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
}

#root {
  min-height: 100%;
  position: relative;
}
